<li>
  <%= rating_title(rating) %> &mdash;

  <% if current_user == rating.user %>
    <div class="rating">
      <%= form_for rating, method: :put, url: book_rating_path(rating.book_id, rating.user_id) do |f| %>
        <% 1.upto(5) do |rating| %>
          <label class="radio inline">
            <%= f.radio_button :value, rating %> <%= rating %>
          </label>
        <% end %>
        <%= f.submit 'save', class: 'btn submit-rating' %>
      <% end %>
    </div>
  <% else %>
    <%= rating.value %>
  <% end %>
</li>
