<!DOCTYPE html>
<html>
<head>
  <title>Likebrary</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <h2 class="pull-left">Likebrary</h2>
      <% if user_signed_in? %>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, id: 'log-out', class: 'btn pull-right' %>
      <% end %>
    </div>
  </nav>
</header>

<div class="container">
  <div class="content">
    <%= yield %>
  </div>
</div>

</body>
</html>
