<!DOCTYPE html>
<html>
<head>
  <title>Likebrary</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <h2 class="pull-left">Likebrary</h2>
      <div class="links">
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn pull-right' %>
          <%= link_to 'Add book', new_book_path, class: 'btn pull-right' %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path, class: 'btn pull-right' %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn pull-right' %>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <div class="content">
    <%= yield %>
  </div>
</div>

</body>
</html>
